
/* container */

.container{
    width: min(100%, 1440px);
    margin: auto;
    /* display: flex;
    flex-wrap: wrap; */
}

/* header */
header{
    /* width: min(100%, 1440px); */
    background-color: #758BFD;
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    padding: 53px 98px;
}

/* ლოგოს არ სჭირდება დაწერა */
.logo_link{
    width: 54px;
    height: 54px;
}

.logo_img{
    width: 100%;
    height: 100%;
}

.fa-circle-user{
    font-size: 40px;
    color: white;  
}


.header_ul{
    display: flex;
    column-gap: 50px
}


.active{
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    color: #133B3A;
}

.inactive{
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 27.58px;
    color: #DDEAF8;
}

/* section */

.section1{
    margin: auto;
    /* background-color: #133B3A; */
    width: calc( 1250 / 1440 * 100%);
    margin: 94px auto;
    display: flex;
    flex-wrap: wrap;
}

.section_header{
    font-family: "Ubuntu", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 36.77px;
    text-align: left;
    color:  #27187F;
    margin-bottom: 68px;  
}

.section2{
    width: 100%;
    display: flex;
    margin: auto;
    /* background-color: #758BFD; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-content: space-between; */
    gap: 30px 22px;
    }

article{
    background-color: #DDEAF8;
    flex: 1 1 400px;
    /* height: 354px; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    align-items: flex-end;
    row-gap: 30px;
    padding: 30px;
}

img{
    width: 100%;
    height: 220px;
    /* margin: auto; */
    /* background-color: #133B3A; */
    object-fit: cover;
}

button{
    background-color: #758BFD;
    width: 145px;
    height: 44px;
    /* border: none; */
    /* ბორდერი არ აქვს ფიგმაში, მაგრამ როცა ვუშლი აღარ ეკლიკება */
    border-radius: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #FFFFFF;
}


/* footer */

footer{
    background-color: #758BFD;
    display: flex;
    flex-direction: column;
    padding: 70px 0;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.footer_header{
    text-decoration: solid;
    text-decoration: 3px solid underline #FFFFFF ;
    text-underline-offset: 8px;
    font-family: Ubuntu;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    color: #FFFFFF;


}

.footer_ul{
    display: flex;
    /* flex-direction: row; */
    gap: 32px;
}

.fa-tiktok,
.fa-instagram,
.fa-pinterest{
    color: #FFFFFF;
    font-size: 30px;
}